@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

/* Reusable classes defined as plain CSS */
.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-30-extrabold {
  font-size: 30px;
  font-weight: 800;
  color: #FFFFFF;
  font-family: var(--font-work-sans), sans-serif;
}

.text-30-bold {
  font-size: 30px;
  font-weight: 700;
  color: #000000;
  font-family: var(--font-work-sans), sans-serif;
}

.text-30-semibold {
  font-size: 30px;
  font-weight: 600;
  color: #000000;
  font-family: var(--font-work-sans), sans-serif;
}

.text-26-semibold {
  font-size: 26px;
  font-weight: 600;
  color: #000000;
  font-family: var(--font-work-sans), sans-serif;
}

.text-24-black {
  font-size: 24px;
  font-weight: 900;
  color: #000000;
  font-family: var(--font-work-sans), sans-serif;
}

.text-20-medium {
  font-size: 20px;
  font-weight: 500;
  color: #000000;
  font-family: var(--font-work-sans), sans-serif;
}

.text-16-medium {
  font-size: 16px;
  font-weight: 500;
  color: #000000;
  font-family: var(--font-work-sans), sans-serif;
}

.text-14-normal {
  font-weight: 400;
  font-size: 0.875rem;
  color: #F7F7F7;
  opacity: 0.8;
  font-family: var(--font-work-sans), sans-serif;
}

.pink_container {
  width: 100%;
  background-color: #EE2B69;
  min-height: 530px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  background-image: linear-gradient(
          to right,
          transparent 49.5%,
          rgba(251, 232, 67, 0.2) 49.5%,
          rgba(251, 232, 67, 0.6) 50.5%,
          transparent 50.5%
  );
  background-size: 5% 100%;
  background-position: center;
  background-repeat: repeat-x;
}

.tag {
  background-color: #FBE843;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-family: var(--font-work-sans), sans-serif;
  font-weight: 700;
  border-radius: 0.125rem;
  text-transform: uppercase;
  position: relative;
}

.heading {
  text-transform: uppercase;
  background-color: #000000;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-weight: 800;
  color: #FFFFFF;
  font-size: 36px;
  line-height: 46px;
  max-width: 64rem;
  text-align: center;
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-family: var(--font-work-sans), sans-serif;
}

@media (min-width: 640px) {
  .heading {
    font-size: 54px;
    line-height: 64px;
  }
}

.sub-heading {
  font-weight: 500;
  font-size: 20px;
  color: #FFFFFF;
  max-width: 42rem;
  text-align: center;
  word-break: break-word;
  font-family: var(--font-work-sans), sans-serif;
}

.section_container {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
}

.card_grid {
  display: grid;
  gap: 1.25rem;
}

@media (min-width: 640px) {
  .card_grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 768px) {
  .card_grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

.card_grid-sm {
  display: grid;
  gap: 1.25rem;
}

@media (min-width: 640px) {
  .card_grid-sm {
    grid-template-columns: repeat(2, 1fr);
  }
}

.no-result {
  color: #333333;
  font-size: 0.875rem;
  font-weight: 400;
  font-family: var(--font-work-sans), sans-serif;
}

/* Profile */
.profile_container {
  width: 100%;
  padding-bottom: 2.5rem;
  padding-top: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  max-width: 80rem;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
}

@media (min-width: 1024px) {
  .profile_container {
    flex-direction: row;
  }
}

.profile_card {
  width: 20rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  padding-bottom: 1.5rem;
  padding-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EE2B69;
  border-width: 5px;
  border-color: #000000;
  box-shadow: 2px 2px 0px 0px rgb(0, 0, 0);
  border-radius: 30px;
  position: relative;
  z-index: 0;
  height: fit-content;
}

@media (max-width: 1024px) {
  .profile_card {
    width: 100%;
  }
}

.profile_title {
  width: 91.666667%;
  background-color: #FFFFFF;
  border-width: 5px;
  border-color: #000000;
  border-radius: 20px;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  position: absolute;
  top: -2.25rem;
  box-shadow: 2px 2px 0px 0px rgb(0, 0, 0);
}

.profile_title::after {
  content: '';
  position: absolute;
  top: -0.25rem;
  right: 0;
  transform: skewY(-6deg);
  background-color: #000000;
  z-index: -1;
  border-radius: 20px;
  width: 100%;
  height: 60px;
}

.profile_title::before {
  content: '';
  position: absolute;
  bottom: -0.25rem;
  left: 0;
  transform: skewY(-6deg);
  width: 100%;
  height: 60px;
  background-color: #000000;
  z-index: -1;
  border-radius: 20px;
}

.profile_image {
  border-radius: 9999px;
  object-fit: cover;
  border-width: 3px;
  border-color: #000000;
}

/* Idea Details */
.divider {
  border-style: dotted;
  background-color: #A1A1AA;
  max-width: 56rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  margin-left: auto;
  margin-right: auto;
}

.view_skeleton {
  background-color: #A1A1AA;
  height: 2.5rem;
  width: 6rem;
  border-radius: 0.5rem;
  position: fixed;
  bottom: 0.75rem;
  right: 0.75rem;
}

/* Navbar */
.avatar {
  padding: 0 !important;
  border-radius: 9999px;
  filter: drop-shadow(0 1px 2px rgba(0, 0, 0, 0.1));
}

.dropdown-menu {
  width: 14rem;
  border-width: 5px;
  border-color: #000000;
  background-color: #FFFFFF;
  padding: 1.25rem;
  border-radius: 1rem !important;
}

.login {
  border-width: 5px;
  border-color: #000000;
  background-color: #FFFFFF;
  color: #000000;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  box-shadow: 2px 2px 0px 0px rgb(0, 0, 0);
  font-family: var(--font-work-sans), sans-serif;
  font-weight: 500;
  transition: all;
  transition-duration: 500ms;
}

.login:hover {
  box-shadow: none;
}

/* Search Form */
.search-form {
  max-width: 48rem;
  width: 100%;
  min-height: 80px;
  background-color: #FFFFFF;
  border-width: 5px;
  border-color: #000000;
  border-radius: 80px;
  font-size: 24px;
  margin-top: 2rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
}

.search-input {
  flex: 1;
  font-weight: 700;
  font-family: var(--font-work-sans), sans-serif;
}

.search-input::placeholder {
  font-weight: 600;
  color: #333333;
}

.search-input:focus {
  outline: none;
}

.search-btn {
  width: 50px;
  height: 50px;
  border-radius: 9999px;
  background-color: #000000;
  display: flex;
  justify-content: center;
  align-items: center !important;
}

/* Startup Card */
.startup-card {
  background-color: #FFFFFF;
  border-width: 5px;
  border-color: #000000;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  border-radius: 22px;
  box-shadow: 2px 2px 0px 2px rgb(0, 0, 0);
  transition: all;
  transition-duration: 500ms;
}

.startup-card:hover {
  border-color: #EE2B69;
  box-shadow: 2px 2px 0px 2px rgb(238, 43, 105);
  background-color: #FFE8F0;
}

.startup-card_date {
  font-weight: 500;
  font-size: 16px;
  background-color: #FFE8F0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 9999px;
  font-family: var(--font-work-sans), sans-serif;
}

.startup-card:hover .startup-card_date {
  background-color: #F7F7F7;
}

.startup-card_desc {
  font-weight: 400;
  font-size: 16px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  color: #333333;
  word-break: break-all;
  font-family: var(--font-work-sans), sans-serif;
}

.startup-card_img {
  width: 100%;
  height: 164px;
  border-radius: 10px;
  object-fit: cover;
}

.startup-card_btn {
  border-radius: 9999px;
  background-color: #141413;
  font-weight: 500;
  font-size: 16px;
  color: #FFFFFF;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-family: var(--font-work-sans), sans-serif !important;
}

.startup-card_skeleton {
  width: 100%;
  height: 24rem;
  border-radius: 22px;
  background-color: #A1A1AA;
}

/* Startup Form */
.startup-form {
  max-width: 42rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFFFFF;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

.startup-form > *:not(:last-child) {
  margin-bottom: 2rem;
}

.startup-form_label {
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  text-transform: uppercase;
  font-family: var(--font-work-sans), sans-serif;
}

.startup-form_input {
  border-width: 3px;
  border-color: #000000;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  padding-top: 1.75rem;
  padding-bottom: 1.75rem;
  font-size: 18px;
  color: #000000;
  font-weight: 600;
  border-radius: 9999px;
  margin-top: 0.75rem;
  font-family: var(--font-work-sans), sans-serif !important;
}

.startup-form_input::placeholder {
  color: #7D8087;
}

.startup-form_textarea {
  border-width: 3px;
  border-color: #000000;
  padding: 1.25rem;
  font-size: 18px;
  color: #000000;
  font-weight: 600;
  border-radius: 20px;
  margin-top: 0.75rem;
  font-family: var(--font-work-sans), sans-serif !important;
}

.startup-form_textarea::placeholder {
  color: #7D8087;
}

.startup-form_error {
  color: #EF4444;
  margin-top: 0.5rem;
  margin-left: 1.25rem;
}

.startup-form_editor {
  margin-top: 0.75rem;
  border-width: 3px;
  border-color: #000000;
  font-size: 18px;
  color: #000000;
  font-weight: 600;
  font-family: var(--font-work-sans), sans-serif !important;
}

.startup-form_editor::placeholder {
  color: #7D8087;
}

.startup-form_btn {
  background-color: #EE2B69;
  border-width: 4px;
  border-color: #000000;
  border-radius: 9999px;
  padding: 1.25rem;
  min-height: 70px;
  width: 100%;
  font-weight: 700;
  font-size: 18px;
  font-family: var(--font-work-sans), sans-serif !important;
}

/* View */
.view-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 1.25rem;
  position: fixed;
  bottom: 0.75rem;
  right: 0.75rem;
}

.view-text {
  font-weight: 500;
  font-size: 16px;
  background-color: #FFE8F0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 0.5rem;
  text-transform: capitalize;
  font-family: var(--font-work-sans), sans-serif;
}

.category-tag {
  font-weight: 500;
  font-size: 16px;
  background-color: #FFE8F0;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-radius: 9999px;
  font-family: var(--font-work-sans), sans-serif;
}

/* Custom styles that cannot be expressed with Tailwind utilities */
.pattern {
  background-image: linear-gradient(
          to right,
          transparent 49.5%,
          rgba(251, 232, 67, 0.2) 49.5%,
          rgba(251, 232, 67, 0.6) 50.5%,
          transparent 50.5%
  );
  background-size: 5% 100%;
  background-position: center;
  background-repeat: repeat-x;
}

.tag-tri::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  border-top: 10px solid black;
  border-right: 10px solid transparent;
}

.tag-tri::after {
  content: '';
  position: absolute;
  bottom: 2px;
  right: 2px;
  border-bottom: 10px solid black;
  border-left: 10px solid transparent;
}

.w-md-editor-toolbar {
  padding: 10px !important;
}